body {
    font-family: "Roboto", "Raleway" ,sans-serif;
    color: #434455;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* =============HEADER================= */

.header {
}

.header-nav {
}

.header-logo {
}

.header-logo-img {
}

.header-menu-list {
}

.header-menu-item {
   
}

.header-menu-link {
     font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #2e2f42; 
}

.header-menu-link:hover,
.header-address-link:hover  {
    color: #404bbf;
}

.header-menu-link:active {
    text-decoration: underline;
}

.header-address {
}

.header-address-list {
}

.header-address-contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #434455;
}

.header-address-link {
     color: #434455;
}

{
    color: #404bbf;
}

/* =============HERO================= */

.hero {
    background: #2e2f42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
    color: #fff;
}
.hero-btn {
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
}

.hero-btn:hover {
    background: #404bbf;
}

.hero-btn span {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: #fff;

    }

button {
    cursor: pointer;
}

 /* =============ADVANTAGES================= */

.advantages-title {
}

.advantages-menu {
}

.advantages-item {
}

.advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #2e2f42;
}

.advantages-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }

    /* =============TEAM================= */

.team {
    background: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.072px;
    text-align: center;
    color: #2e2f42;
}

.team-menu {
}

.team-item {
}

.team-menu-img {
}

.team-menu-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.04px;
    color: #2e2f42;
}

.team-menu-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #434455;
}


/* =============PORTFOLIO================= */

.portfolio {
    
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    color: #2e2f42;
}
.portfolio-menu {
}
.portfolio-item {
}
.portfolio-img {
}
.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #2e2f42;
}
.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #434455;
}

/* =============FOOTER================= */

.footer {
    background: #2e2f42;
}
.footer-logo {
}
.footer-logo-img {
}
.footer-text { 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #f4f4fd;
}

.logo-web {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #4d5ae5;
    }
     .logo-studio {
        font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #f4f4fd;
}
